#logo-o {
  animation: colorfy;
  animation-duration: 5s;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
}

@keyframes colorfy {
  0% {
    background: unset;
  }
  100% {
    background: linear-gradient(90deg, #0060c6 0%, #00c4c6 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.animated-letter {
  background: linear-gradient(to bottom, #0060c6 0%, #00c4c6 100%);
  background-position: 0 0;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-size: 200%;
  animation: gradientFill 5s steps(4) 1s forwards;
}

/* Animation to reveal gradient in 4 steps */
/* @keyframes gradientFill {
  0% {
    background-position: 100% 0;
  }
  25% {
    background-position: 75% 0;
  }
  50% {
    background-position: 50% 0;
  }
  75% {
    background-position: 25% 0;
  }
  100% {
    background-position: 0 0;
  }
} */
